@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*,*::after,*::before{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

:root{
  --brand: #26c0ab;
  --error: 	#d95e3f;
  --dark: #00181a;
  --text: #006d65;
  --neutral1: #008b8b;
  --neutral2: #7DA8A8;
  --neutral3:#E0FFFF;
  --neutral4: #f4fafa;
  --white: #fbfdfd;

  /* utils */
  --spacer: clamp(2rem, 4vw, 3.5rem);
  --spacer: clamp(4rem, 7vw, 6.5rem);
  --rounded-sm: 0.2rem;
  --rounded-md: 0.4rem;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  padding-block: var(--spacer-lg) ;
  background-color: var(--neutral3);
}

.wrapper{
  display: grid;
  place-items: center;
  gap: 3rem;
  max-width: 900px;
  margin-inline: auto;
}

.container{
  padding: var(--spacer);
  background: var(--white);
  border-radius: 2rem;
  box-shadow: 0 4rem 5rem var(--neutral2);
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacer);
}

.form{
  display: grid;
  gap: var(--spacer)
}

.label-group{
  display: grid;
  gap: 0.2rem;
  text-align: left;
  
}

.number-wrapper{
  position: relative;
}

[type="text"]{
  width: 100%;
  font: inherit;
  text-align: right;
  background-color: var(--neutral3);
  border: none;
  padding: .2rem .5rem;
  border-radius: var(--rounded-sm);
  box-shadow:
  0 0 0 -.2rem var(--text),
  0 0 0 -.2rem var(--neutral1);
  transition: box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

[type="text"]:focus{
  outline: none;
    box-shadow:
  0 0 0 .2rem var(--text),
  0 0 0 .4rem var(--brand);
}

[type="text"]:invalid{
  outline: none;
  background-color: var(--error);
    box-shadow:
  0 0 0 .2rem var(--text),
  0 0 0 .4rem var(--brand);
}

.icon{
  position: absolute;
  top: 50%;
  left: .5rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.label-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label{
  color: var(--text);
  font-size: 1rem;
}

.error{
  color: var(--text);
  font-size: 1rem;
}

.percent-section{
  display: grid;
  justify-items: start;
  gap: .5rem;
}

.percent-amount-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}


.percent-amount{
  position: relative;
}

[name="percent"]{
  opacity: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

[name="percent"]:hover+.percent-btn{
  background-color: var(--neutral2);
  color: var(--text);
  
}

[name="percent"]:checked+.percent-btn{
  background-color: var(--brand);
}


.percent-btn{
  background-color: var(--text);
  color: var(--neutral4);
  border-radius: var(--rounded-md);
  padding: 0.2rem;
  text-align: center;
}

/* display section */
.display{
  background-color: var(--text);
  padding: var(--spacer);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-group{
  display: grid;
  gap: var(--spacer);
}

.display-row{
  display: flex;
  justify-content: space-between;
  gap: var(--spacer);
  align-items: center;
  text-align: left;
}

.display-label{
  display: grid;
  justify-items: start;
}

.header{
  color: var(--neutral4);
  font-size: 0.6em;
}

.unit{
  color: var(--neutral2);
  font-size: 0.8rem;
}

.display-amt{
  font-size: 2rem;
  color: var(--brand)
}

.btn{
  font: inherit;
  background-color: var(--brand);
  color: var(--text);
  border: none;
  border-radius: .2rem;
  padding: .3rem .8rem;
  text-transform: uppercase;
  font-size:  1rem;
  box-shadow: 0 .2rem 2rem var(--dark),
  0 0 0 -.2rem var(--text),
  0 0 -.2rem var(--neutral1);
  transition: box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-top: 40px;
}

.btn[disabled]{
  opacity: 0.2;
  cursor: not-allowed;
}

.btn:focus {
  outline: none;
}

.btn:not([disabled]):hover{
  box-shadow: 0 0 0 var(--dark),
  0 0 0 0.2rem var(--text),
  0 0 0 0.5rem var(--neutral1);
  background-color: var(--neutral3);
}

.btn:focus-visible{
  box-shadow: 0 0.2rem 2rem var(--dark),
  0 0 0 0.2rem var(--text),
  0 0 0 0.5rem var(--neutral1);
}

/* media queries */

@media screen and (min-width: 768px) { 
  .percent-amount-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.container{
  padding: var(--spacer);
  background: var(--white);
  border-radius: 2rem;
  box-shadow: 0 4rem 5rem var(--neutral2);
  display: flex;
  grid-auto-flow: column;
  gap: var(--spacer);
}
}